@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
a { color: #10553f; }
a:hover { color: #146f52; }
.section-short { height: auto; padding: 0; position: relative; overflow: hidden; -webkit-transition: color .3s ease; transition: color .3s ease }
.section-short .bg { position: absolute; background: #185641; width: 100%; height: 100%; z-index: 10 }
.section-short .section-short-inner { position: relative; z-index: 60; height: 495px; padding: 120px 30px 30px }
.section-short figure { height: 94px; float: left; margin-right: 30px }
.section-short h5 { color: #393939; margin: 20px 0 0; -webkit-transition: color .5s ease; transition: color .5s ease; text-transform: uppercase }
.section-short h5 strong { color: #393939; display: block; -webkit-transition: color .5s ease; transition: color .5s ease }
.section-short h2 { -webkit-transition: color .5s ease; transition: color .5s ease }
.section-short .line { margin: 30px 0; float: left; width: 100%; clear: both; background: rgba(153,153,153, 0.3); height: 1px; }
.section-short div { clear: both; text-overflow: ellipsis }
.section-short .btn { margin-top: 20px; -webkit-transition: all .3s ease; transition: all .3s ease; display: none }
.section-short .btn.show { display: block }
.section-short.hovered { color: #fff }
.section-short.hovered h2,
.section-short.hovered h5,
.section-short.hovered h5 strong { color: #fff!important }
.section-short.hovered .btn { border: 1px solid #112e5d; box-shadow: 0 2px 0 0 #0e274f }
.services-import { background: #fff }
.services-import .section-short:nth-child(odd) { background: #f4f4f4 }
.services-import .row { position: relative }
.services-import .row h2 { position: absolute; z-index: 100; top: 30px; left: 30px; margin: 0; font-family: OpenSansBold, sans-serif; font-weight: 400; color: #393939 }
.services-export { background: #f4f4f4; }
.services-export .section-short { background: #f4f4f4 }
.services-export .section-short:nth-child(odd) { background: #fff }
.services-export .row { position: relative }
.services-export .row h2 { position: absolute; z-index: 100; top: 30px; left: 30px; margin: 0; font-family: OpenSansBold, sans-serif; font-weight: 400; color: #393939 }
.col .line { height: 2px; background: #e8e8e8; display: block; clear: both; margin: 20px 0 }
.services-mission { clear: both }
/*30-10-2019 GS CSS START*/
.navbar-nav .nav-item .dropdown-menu small a { position: relative; }
.navbar-nav .nav-item .dropdown-menu small a .EqualStyleFlag { width: 18px; position: absolute; right: 18px; top: 9px; display: inline-block; }
.page-header .page-header-bg { min-height: 550px; }
.carousel-inner { min-height: 550px; }
/*.HomepageCarosel .carousel-inner .carousel-item:first-child .btn-success { margin-top: 243px !important; }
.HomepageCarosel .carousel-inner .carousel-item .VegkingBannerBtns { margin-left: 19px; margin-top: 93%; }*/
.HomepageCarosel .carousel-inner .carousel-item .VegkingBannerBtns { margin-left: 19px; margin-top: 89%; margin-bottom: 4%; }
.VegkingBannerHeading { margin-bottom: 30px !important; }
.NewsLetterSec { background-color: #10553f; }
.NewsLetterSec .SignUpSec h2 { margin-top: 0px; margin-bottom: 25px; font-size: 39px; line-height: 45px; margin-left: -4px; font-family: 'Open Sans', sans-serif; font-weight: 300; text-transform: uppercase; color: #fff; min-height: inherit; }
.NewsLetterSec .SignUpSec p { margin-top: 0px; color: #f4f4f4; margin-bottom: 55px; font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 16px; min-height: inherit; }
.NewsLetterSec .SignUpSec .EqualLabelFiled { position: relative; max-width: 300px; margin: 0px auto 0; }
.NewsLetterSec .SignUpSec .EqualLabelFiled label { color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 14px; width: 17%; }
.NewsLetterSec .SignUpSec .EqualLabelFiled input[type="email"] { padding: 10px 48px 10px 20px; background: 0 0; -webkit-box-shadow: inset 0 5px 0 0 rgba(0,0,0,.03); box-shadow: inset 0 5px 0 0 rgba(0,0,0,.03); border: 1px solid #ffffff; -webkit-border-radius: 4px; border-radius: 0; font-size: 13px; color: #f4f4f4; width: 100%; border-radius: 50px; }
 .NewsLetterSec .SignUpSec .EqualLabelFiled input[type="email"]::placeholder {
 color: #ffffff;
 opacity: 1;
}
 .NewsLetterSec .SignUpSec .EqualLabelFiled input[type="email"]:-ms-input-placeholder {
 color: #ffffff;
}
 .NewsLetterSec .SignUpSec .EqualLabelFiled input[type="email"]::-ms-input-placeholder {
 color: #ffffff;
}
.NewsLetterSec .SignUpSec .EqualLabelFiled input[type="email"]:hover,
.NewsLetterSec .SignUpSec .EqualLabelFiled input[type="email"]:focus,
.NewsLetterSec .SignUpSec .EqualLabelFiled input[type="email"]:active { outline: none; }
.NewsLetterSec .SignUpSec .EqualLabelFiled .signupbtn { background-color: #ffffff; border: none; position: absolute; top: 21px; transform: translate(0%, -50%); right: 5px; width: 30px; height: 30px; border-radius: 50%; }
.NewsLetterSec .SignUpSec .EqualLabelFiled .signupbtn img { width: 16px; height: 16px; position: absolute; top: 50%; left: 55%; transform: translate(-50%, -50%); text-align: center; display: block; margin: 0px auto; }
.NewproductSecmain { background-color: #183d32; padding: 0px 15px; height: 100%; }
.NewsLetterSec .NewproductSec h2 { margin-top: 0px; margin-bottom: 25px; font-size: 40px; line-height: 45px; margin-left: -4px; font-family: 'Open Sans', sans-serif; font-weight: 300; text-transform: uppercase; color: #fff; }
.NewsLetterSec .NewproductSec h6 { font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 16px; line-height: 15px; text-transform: uppercase; color: #ffffff; }
.NewsLetterSec .NewproductSec p { color: #acb3be; margin-bottom: 0px; font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 14px; min-height: 70px; }
.NewsLetterSec .NewproductSec .Seeofferbtn { display: inline-block; box-shadow: none; line-height: 30px; width: auto; padding: 3px 40px; background-color: transparent; color: #ffffff; font-weight: 500; font-size: 14px; margin: 15px 0 0px; border: solid 1px #ffffff; font-family: 'Open Sans', sans-serif; border-radius: 50px; transition: all 0.3s ease-in; }
.NewsLetterSec .NewproductSec .Seeofferbtn:hover,
.NewsLetterSec .NewproductSec .Seeofferbtn:focus,
.NewsLetterSec .NewproductSec .Seeofferbtn:active { background-color: #0f543f; border: solid 1px #0f543f; }
.NewsLetterSec .NewproductSecmain .productimageSec { background-size: calc(330px); height: 323px; background-repeat: no-repeat; background-position: center center; }
.truck_linecon li { display: inline-block; width: 100%; }
.truck_linecon li .fa { display: inline-block; width: 6%; vertical-align: top; }
.truck_linecon li h4 { display: inline-block; width: 93%; vertical-align: top; margin-bottom: 24px; line-height: 100%; margin-top: -8px; text-transform: capitalize; }
.NewsLetterSec .SignUpSec { text-align: center; height: 100%; padding-bottom: 30px; }
.currentoffersection .page-header { background-color: transparent; padding: 0px 0; position: relative; min-height: 40vh; }
.currentoffersection .page-header:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
.HomepageCarosel .carousel-inner .carousel-item a.btn-success { width: 160px; padding: 0px; height: 50px; line-height: 50px; margin-left: 7px; margin-right: 25px !important; }
.HomepageCarosel .carousel-inner .carousel-item a.btn-success font { vertical-align: unset !important; }
.services-import .section-short .line em,
.services-export .section-short .line em { width: 80px; height: 1px; display: block; background: #e2b900 }
.services-import .section-short:nth-child(odd) .line em { background: #e2b900 }
.col .line em { height: 2px; width: 15%; display: block; background: #e2b900 }
.services-export .section-short:nth-child(odd) .line em { background: #e2b900 }
.services-export .section-short .line em { background: #e2b900 }
.about p { margin-bottom: 5px; line-height: 24px; }
#LearnMoreBtnn { padding: 10px 15px; line-height: 100%; font-size: 20px; margin-top: 5px; }
/* Home page sales section css start 31-10-2019 */
.salesHomesec .ContactPageHeading {  /*margin-bottom: 34px; font-family: 'Open Sans', sans-serif;font-weight: 700;  background-color: #e2b900; color: #0f5440; padding: 10px 0;text-align: center;font-size: 30px; border-radius: 0px; box-shadow: 4px 4px 5px 1px #d1d1d1;*/ background-color: #e2b900; color: #ffffff; letter-spacing: 2px; padding: 24px 15px; text-align: center; width: calc(100% + 30px); margin-left: -15px; font-size: 28px; margin-bottom: 0px; font-weight: 500; text-transform: uppercase; }
.salesHomesec { background: #ffffff; padding: 0px 0px 0px; }
.salesHomesec .SinglePersonDetails .UserProfileimg { width: 165px; text-align: center; margin: 0px auto 20px; display: block; }
.salesHomesec .SinglePersonDetails .ProfileDetails { list-style: none; margin: 0px; text-align: left; padding: 20px 0 0 0; }
.gregbg { background: #f4f4f4; padding: 20px; margin-bottom: 20px; border-radius: 10px }
.salesHomesec .SinglePersonDetails .ProfileDetails li { display: inline-block; width: 100%; margin-bottom: 12px; }
.salesHomesec .SinglePersonDetails .ProfileDetails li:last-child { margin-bottom: 0px; }
.salesHomesec .SinglePersonDetails .ProfileDetails li .lefticon { /*display: inline-block; width: 12%;*/ margin-right: 10px; }
.salesHomesec .SinglePersonDetails .ProfileDetails li .righttext { /*display: inline-block; width: 88%;*/ }
.salesHomesec .SinglePersonDetails .ProfileDetails li .lefticon .userprofileicon { width: 30px; }
.salesHomesec .SinglePersonDetails .ProfileDetails li .lefticon .whatsapcallingicon { width: 28px; }
.salesHomesec .SinglePersonDetails .ProfileDetails li .lefticon .emailicon { width: 28px; }
.salesHomesec .SinglePersonDetails .ProfileDetails li .righttext {/* display: inline-block; width: 88%;*/ font-weight: 500; color: #000000; font-size: 14px; }
/*Home page sales section css end 31-10-2019*/


/* Home page contact us section css start 31-10-2019 */
.ContactHomeSec .ContactPageHeading { font-size: 30px; color: #ffffff; margin-bottom: 40px; font-family: 'Open Sans', sans-serif; font-weight: 600; }
.ContactHomeSec .LocationaddressSec { background-color: #12624b; padding: 15px 0px 5px; border-radius: 10px; box-shadow: 10px 10px 10px #174f3f; margin-bottom: 20px; padding-left: 10%; }
.ContactHomeSec .SinglePersonDetails .UserProfileimg { width: 210px; text-align: center; margin: 0px auto 20px; display: block; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails { list-style: none; margin: 0px; padding: 0px; margin-bottom: 30px; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li { display: inline-block; width: 100%; margin-bottom: 12px; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li:last-child { margin-bottom: 0px; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li .lefticon { /*display: inline-block; width: 12%;*/ margin-right: 10px; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li .righttext { /*display: inline-block; width: 88%;*/ }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li .lefticon .userprofileicon { width: 30px; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li .lefticon .whatsapcallingicon { width: 28px; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li .lefticon .emailicon { width: 28px; }
.ContactHomeSec .SinglePersonDetails .ProfileDetails li .righttext {/* display: inline-block; width: 88%;*/ font-weight: 500; color: #ffffff; font-size: 14px; }
.ContactHomeSec .LocationaddressSec ul { padding: 0px; margin: 0px; list-style: none; margin-bottom: 15px; }
.ContactHomeSec .LocationaddressSec .AddressText { font-weight: 500; color: #ffffff; font-size: 14px; margin-bottom: 12px; text-align: justify; }
.ContactHomeSec .LocationaddressSec ul li.unktext { margin-top: 8px; margin-bottom: 17px; }
.ContactHomeSec .LocationaddressSec ul li { display: flex; width: auto; justify-content: left; align-items: center; margin: 0px auto; }
.ContactHomeSec .LocationaddressSec ul li .lefttext { font-weight: 500; color: #ffffff; font-size: 18px; margin-left: 15px; text-transform: uppercase; }
.ContactHomeSec .LocationaddressSec ul li .lefttext .caddressicon { width: 35px; margin-right: 11px; }
.ContactHomeSec .LocationaddressSec ul li .righttext { }
.ContactHomeSec .LocationaddressSec ul li .righttext .LocationFlag { width: 40px; }
.footerbottomText { font-weight: 500; color: #ffffff; font-size: 14px; margin-bottom: 0px; text-align: center; }
.COntactPageWidth .footerbottomText { color: #000; margin: 20px 0 }
.ContactHomeSec { background: #0f543f; padding: 40px 0px; }
#agreePopup { max-width: 100%; cursor: inherit; position: absolute; width: 100%; bottom: 0; left: 0; padding: 1% 5%; background-color: #f9f9f9; opacity: .97; box-shadow: 0 -8px 20px 0 rgba(0,0,0,.2); }
.fancybox-bg { background: transparent; }
#agreePopup h1 { margin: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; color: #262626; font-size: 22px; font-weight: 700; margin-bottom: 10px; }
#agreePopup p { font-size: 15px; margin-bottom: 0; }
#agreePopup p a { color: #10553f; }
#agreePopup p a:hover,
#agreePopup p a:focus,
#agreePopup p a:active { outline: none; }
#agreePopup ul { display: block; padding-left: 0px; margin: 5px 0; text-align: center; }
#agreePopup ul li { display: block; margin: 0px 5px; }
#agreePopup ul li:first-child { margin-bottom: 20px; }
#agreePopup ul li .agreebtn { background-color: #10553f; min-width: 160px; min-height: 42px; margin: 0; padding: .5rem 1rem; font-size: 1.1rem; font-weight: 700; border: none; border-radius: 3px; outline: none; cursor: pointer; color: #fff; transition: opacity .8s ease 0s; display: inline-block; text-transform: uppercase; }
#agreePopup ul li .cancelbtn { color: #000000; min-height: auto; min-width: 135px; margin: .75rem 0; padding: 4px; font-size: 14px; font-weight: 400; text-decoration: none; background-color: transparent; border: none; border-bottom: 1px solid; border-radius: 0; cursor: pointer; text-transform: inherit; }
.COntactPageWidth { margin: 0px auto; }
.COntactPageWidth .ContactPageHeading { font-size: 30px; color: #0f5440; margin-bottom: 30px; font-family: 'Open Sans', sans-serif; font-weight: 700; text-align: center; background-color: #e2b900; border-radius: 5px; padding: 10px 0; box-shadow: 4px 4px 5px 1px #d1d1d1; text-transform: capitalize; }
.COntactPageWidth .SinglePersonDetails .UserProfileimg { width: 210px; text-align: center; margin: 0px auto 20px; display: block; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails { margin: 10px 0 0 0; padding: 0; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li { display: inline-block; width: 100%; margin-bottom: 12px; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li:last-child { margin-bottom: 0px; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li .lefticon { /*display: inline-block; width: 12%;*/ margin-right: 10px; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li .righttext { /*display: inline-block; width: 88%;*/ }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li .lefticon .userprofileicon { width: 30px; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li .lefticon .whatsapcallingicon { width: 28px; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li .lefticon .emailicon { width: 28px; }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li .righttext {/* display: inline-block; width: 88%;*/ font-weight: 500; color: #000000; font-size: 14px; }
.COntactPageWidth .LocationaddressSec ul { padding: 0px; margin: 0px; list-style: none; margin-bottom: 15px; width: calc(100% + 50%); }
.COntactPageWidth .LocationaddressSec .AddressText { font-weight: 500; color: #000000; font-size: 14px; margin-bottom: 12px; text-align: justify; padding: 0% 0%; }
.COntactPageWidth .LocationaddressSec ul li.unktext { margin-top: 8px; margin-bottom: 17px; }
.COntactPageWidth .LocationaddressSec ul li { display: flex; width: 100%; justify-content: left; align-items: center; margin: 0px auto; }
.COntactPageWidth .LocationaddressSec ul li .lefttext { color: #000000; font-weight: 500; font-size: 15px; margin-right: 15px; }
.COntactPageWidth .LocationaddressSec { background: #f4f4f4; padding: 20px; border-radius: 10px; margin: 0px auto; }
.COntactPageWidth .LocationaddressSec ul li .lefttext .caddressicon { width: 35px; margin-right: 11px; }
.COntactPageWidth .LocationaddressSec ul li .righttext { }
.COntactPageWidth .LocationaddressSec ul li .righttext .LocationFlag { width: 36px; }
.langs-menu .nav-link { display: flex; padding: 0.3rem 1rem; }
.langs-menu .nav-link a img { border: 1px solid #666; margin: 0 2px }
.langs-menu .nav-link a.active img,
.langs-menu .nav-link a:hover img { border: 1px solid #fff; }
.page-header .container { min-height: auto; }
/*Home page contact us section css end 31-10-2019*/

/*21-11-2019*/

.navbar-nav .menubtn .nav-link { border-radius: 10px; background-color: #105540; border-color: #e2b900; color: #ffffff !important; letter-spacing: 1px; }
#products_modal .PorductBannerBg { color: #ffffff; font-weight: 400; letter-spacing: 2px; line-height: 130%; font-size: 40px; }
#products_modal .modal-content { border-radius: 10px; }
#products_modal .modal-dialog { max-width: 700px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0px auto; }
#products_modal .modal-header { position: absolute; top: 0px; right: 0px; z-index: 9; padding: 0px; }
#products_modal .modal-body { background-color: #115641; padding: 35px 75px; border-radius: 5px; border: solid 4px #ffffff; }
#products_modal button.close { background-color: #ffffff; opacity: 1; width: 35px; height: 35px; border-radius: 10px; padding: 0px; position: absolute; right: 15px; top: 15px; margin: 0px; font-size: 35px; }
#products_modal .PorductBannerBg a { color: #ffffff; border: solid 4px #e2b900; padding: 0px 10px; }
#products_modal button.close .CloseIcon { position: absolute; width: 20px; height: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
#products_modal .ProductHeading { margin-top: 10px; }
.NewsLetterSec .row { align-items: center; }
.newsleeterTextForMobile { display: none; }
.NewproductSecmain .NewproductSec { text-align: center; }
.MobileFlag { display: none; }
.COntactPageWidth .ContactPageHeading.SecondContact { margin-top: 25px; }
/*.select2-dropdown.select2-dropdown--above { width: auto !important; }*/
#sellercontact_modal .select2-container { display: block; width: 100%; height: calc(1.6em + 0.75rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.6; color: #495057; background-color: #ffffff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
#sellercontact_modal .select2-container .select2-selection--single { border: none; outline: none; }
#sellercontact_modal .select2-container .select2-selection--single .select2-selection__rendered { line-height: 24px; }
#sellercontact_modal .select2-container .select2-selection--single .select2-selection__arrow { top: 6px; }
.consignee_add { display: flex; flex-wrap: wrap; }
/*#main-menu { -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; height: inherit; position: static; top: 36px; left: 0px; right: 0px; width: 100%; z-index: 99;border-bottom: 1px solid #d0d0d0; }*/
#main-menu { -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; height: inherit; position: absolute; top: 0px; left: 0px; right: 0px; width: 100%; z-index: 99; box-shadow: 1px 2px 10px rgba(0,0,0,.3); background-color: #ffffff; }
#main-menu.Fixedheader { position: fixed; top: 0px; left: 0px; right: 0px; width: 100%; z-index: 99999; background-color: #ffffff; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4); }
/*#main-menu.Fixedheader { position: fixed; top: 0px; left: 0px; right: 0px; width: 100%; z-index: 99999; background-color: #ffffff;box-shadow: 0px 4px 8px 0px #cfcfcf; }*/
/*25-11-2019 header new css start*/
.HeaderNew { display: flex; justify-content: space-between; align-items: center; padding: 7px 0 7px; }
.RightHeaderSecNew { display: inline-flex; flex-direction: row; align-items: center; }
.HeaderNew .LogoLeftSecNew img { width: 200px; }
.RightHeaderFirstSecNew .LangugeSecNew ul { list-style: none; padding: 0px; }
.RightHeaderFirstSecNew .HeaderMenusSec ul li a { font-size: 15px; text-transform: uppercase; font-weight: 600; color: #333333; padding: 0rem 1rem; letter-spacing: 2px; }
.RightHeaderFirstSecNew { display: inline-flex; flex-direction: column; align-items: center; }
.RightHeaderSecondSecNew { display: inline-flex; flex-direction: column; align-items: end; }
.RightHeaderFirstSecNew .LangugeSecNew ul { display: inline-flex; list-style: none; padding: 0px; margin: 0px; }
.RightHeaderFirstSecNew .LangugeSecNew ul li { margin: 0px 18px; }
.RightHeaderFirstSecNew .LangugeSecNew ul li a { display: inline-flex; }
.RightHeaderFirstSecNew .LangugeSecNew ul li a img { width: 23px; height: 22px; border-radius: 30px; border: solid 2px #cccccc; }
.RightHeaderFirstSecNew .LangugeSecNew ul li a.active img { opacity: 0.4; }
.RightHeaderFirstSecNew .HeaderMenusSec ul { padding: 0px; list-style: none; display: inline-flex; margin: 0px; }
.RightHeaderFirstSecNew .HeaderMenusSec ul li { display: inline-flex; }
.RightHeaderSecondSecNew .LoginRegSec ul { display: inline-flex; margin: 0px; padding: 0px; }
.RightHeaderFirstSecNew .HeaderMenusSec { border-right: solid 2px #000000; }
.RightHeaderSecondSecNew .LoginRegSec ul li { display: inline-flex; }
.RightHeaderSecondSecNew .LoginRegSec ul li a { font-size: 15px; text-transform: uppercase; font-weight: 600; color: #333333; padding: 0.3rem 0rem 0.3rem 1.5rem; letter-spacing: 2px; }
.RightHeaderSecondSecNew .LoginRegSec ul li.dropdown a { padding: 0.7rem 1.0rem; }
.RightHeaderSecondSecNew .CallUsNew { width: 100%; text-align: right; }
.RightHeaderSecondSecNew .CallUsNew a { font-size: 16px; text-transform: uppercase; font-weight: 700; color: #333333; padding: 0 0 0 1rem; letter-spacing: 0px; }
.LogoLeftSecNew .MobileToggleIconNew { display: none; }
.ImportExportText { background-color: #10553f; color: #ffffff; letter-spacing: 2px; padding: 24px 15px; text-align: center; width: calc(100% + 30px); margin-left: -15px; font-size: 28px; margin-bottom: 0px; }
/*popup steps css start*/
.PurchaseFoursteps { list-style: none; padding: 0px; display: flex; justify-content: space-around; border: none; margin: 30px 0px 15px; }
.PurchaseFoursteps li { position: relative; display: inline-flex; border: solid 2px #a0a0a0; border-radius: 50px; width: 50px; height: 50px; align-items: center; justify-content: center; }
.PurchaseFoursteps li a { font-size: 20px; color: #a0a0a0; font-weight: bold; }
.PurchaseFoursteps li::after { content: ''; display: inline-flex; position: absolute; right: 0%; transform: translate(100%, -100%); top: 50%; border-bottom: solid 2px #a0a0a0; width: 208px; }
.PurchaseFoursteps li:last-child::after { content: none; }
.PurchaseFoursteps li.active { border: solid 2px #10553f; }
.PurchaseFoursteps li.active a { color: #10553f; font-weight: bold; }
.modal-open .modal { z-index: 99999; }
/*.modal-header {
    justify-content: center;
}
.modal-header .close {
    position: absolute;
    right: 20px;
}*/
.select2-dropdown { z-index: 99999 !important; }
#buyercontact_modal .modal-dialog { max-width: 800px; }
#buyercontact_modal .modal-header { position: relative; flex-direction: column; }
#buyercontact_modal .modal-title { width: 100%; margin: 0px auto; text-align: center; font-size: 1.5rem; line-height: 1.6; display: block; color: #10553f; text-transform: uppercase; }
#buyercontact_modal .modal-title-1 { width: 100%; margin: 0px auto; text-align: center; font-size: 1.5rem; line-height: 1.6; display: block; }
#buyercontact_modal .modal-header .close { padding: 1rem 1rem; margin: -1rem -1rem -1rem auto; position: absolute; right: 15px; top: 15px; }
#sellercontact_modal .modal-dialog { max-width: 800px; }
#sellercontact_modal .modal-header { position: relative; flex-direction: column; }
#sellercontact_modal .modal-title { width: 100%; margin: 0px auto; text-align: center; font-size: 1.5rem; line-height: 1.6; display: block; }
#sellercontact_modal .modal-title-1 { width: 100%; margin: 0px auto; text-align: center; font-size: 1.5rem; line-height: 1.6; display: block; }
#sellercontact_modal .modal-header .close { padding: 1rem 1rem; margin: -1rem -1rem -1rem auto; position: absolute; right: 15px; top: 15px; }
.PorductBuySellButtons { padding: 0px; margin: 0px; display: flex; justify-content: space-between; align-items: center; margin-top: 25px; }
.PorductBuySellButtons li a { border: solid 3px #e2b900; color: #ffffff; font-weight: 500; border-radius: 10px; max-width: 100%; min-width: 115px; display: inline-flex; justify-content: center; line-height: 56px; font-size: 30px; letter-spacing: 4px; padding: 0px 10px; }
.PorductBuySellButtons li a:hover { background: #e2b900; color: #115641; }
.PorductBuySellButtons li .productLogo { width: 150px; }
#main-menu #navbarDropdownMenuUser.nav-link { padding-right: 0; padding: 0.3rem 0 0.3rem 1.0rem; }
#main-menu .dropdown-menu { left: auto!important; right: 0!important; }
.mobile_only { display: none; }

/*popup steps css end*/

/*responsive css start here*/

@media (max-width: 991.98px) {
.HeaderNew { flex-direction: column; align-items: flex-start; }
.LogoLeftSecNew .MobileToggleIconNew { display: inline-flex; }
.LogoLeftSecNew .MobileToggleIconNew img { width: 30px; }
.HeaderNew .LogoLeftSecNew { display: flex; align-items: center; justify-content: space-between; width: 100%; }
.RightHeaderSecNew { display: none; padding-top: 25px; }
.RightHeaderFirstSecNew { display: flex; flex-direction: column; align-items: flex-start; }
.RightHeaderFirstSecNew .HeaderMenusSec { border-right: none; }
.RightHeaderFirstSecNew .HeaderMenusSec ul { display: flex; flex-direction: column; }
.RightHeaderFirstSecNew .HeaderMenusSec ul li a { padding: 0.5rem 1rem; }
.RightHeaderSecondSecNew .LoginRegSec ul li a { padding: 0.5rem 1rem; }
.page-header .w-100.text-white { background: transparent; padding: 15px; }
#main-menu { height: inherit; position: inherit; }
.RightHeaderSecondSecNew { align-items: start; }
#main-menu .dropdown-menu { left: 0 !important; right: auto !important; }
.RightHeaderSecondSecNew .LoginRegSec ul { display: block; }
.RightHeaderSecondSecNew .CallUsNew { text-align: left; }
.RightHeaderSecondSecNew .LoginRegSec ul li { display: block; padding: 0.5rem 0; }
#cookie_pre_text.pre { width: calc(100% - 90px); overflow: hidden; display: inline-flex; text-overflow: ellipsis; white-space: nowrap; position: relative; }
#cookie_pre_text.pre:before { content: '...'; position: absolute; right: 0; background: #fff }
}

@media only screen and (max-width: 767px) {
.MobileFlag .nav-link { padding: 0px !important; }
#topbar_append .dropdown-divider:last-child { display: none; }
#sellercontact_form .form-check-inline { display: inline-block; padding: 0px; }
#sellercontact_form .form-check-inline input { margin-top: 10px; margin-left: 0px !important; }
.MobileFlag { position: absolute; top: 10px; right: 18%; display: inline-block; }
#sellercontact_form .col-form-label { padding-left: 0px; padding-right: 0px; }
#agreePopup h1 { margin: 0; font-size: 17px; margin-bottom: 10px; }
#agreePopup p { font-size: 12px; margin-bottom: 5px; }
#agreePopup ul li .agreebtn { min-width: auto; min-height: inherit; padding: .5rem 1rem; font-size: 0.8rem; }
#agreePopup { padding: 22px 10px 0px 10px; text-align: center; }
.MobileFlag .langs-menu { display: inline-block; }
.langs-menu { display: none; }
.MobileFlag li { list-style: none; }
.NewsLetterSec .NewproductSecmain .productimageSec { background-size: 100%; }
.newsleeterTextForDesktop { display: none; }
.newsleeterTextForMobile { display: block; }
.NewproductSecmain .NewproductSec .newsleeterTextForMobile { margin-top: 20px; }
.NewproductSecmain .NewproductSec { text-align: center; }
.page-header { background-color: #105540; }
.page-header .carousel-inner .carousel-item:first-child .page-header-bg { background-size: contain; background-position: 100% 33% !important; background-repeat: no-repeat; }
.page-header .carousel-inner .carousel-item:first-child .content .text-white { background-color: transparent; position: absolute; bottom: 3%; left: 0px; }
.page-header .carousel-item .container { z-index: 1; }
.HomepageCarosel .carousel-inner .carousel-item:first-child .VegkingBannerBtns { margin-left: 0px; margin-top: 0px; }
.page-header .carousel-inner .carousel-item:first-child a.btn-success { margin-top: 25px !important; }
.HomepageCarosel .carousel-inner .carousel-item a.btn-success { font-size: 15px; width: 105px; padding: 0px !important; font-weight: 500 !important; }
.HomepageCarosel .carousel-inner .carousel-item h5 { font-size: 17px; font-weight: 400; }
.about p { text-align: center; font-size: 15px; margin-bottom: 8px; }
.about a.btn-outline-success { text-align: center; margin: 0px auto; width: 140px; display: block; font-size: 15px; padding: 8px; }
.section-short .section-short-inner { height: auto; text-align: center; }
.services-import .row h2 { text-align: center; display: block; width: 100%; left: 0; right: 0; font-size: 24px; color: #000000; }
.section-short figure { float: none; margin-right: 0px; margin-bottom: 0px; height: auto; }
.section-short .section-short-inner img { width: 70px; height: auto; }
.section-short .mob-Top-Pad { padding-top: 85px; }
.section-short .mob-Without-Top-Pad { padding-top: 40px; }
.page-header h1.display-4 { font-size: 1.4rem; }
.section-short .section-short-inner { padding: 60px 30px 60px; }
.VegkingBannerBtns .btn.btn-lg { padding: 5px 12px !important; }
#products_modal .modal-dialog { width: 100%; max-width: 350px; }
#products_modal .modal-body { padding: 20px 15px; }
#products_modal .PorductBannerBg { font-size: 20px; }
.mobile_only { display: block; text-align: center; }
.mobile_only img { display: inline-block; max-width: 100px; }
.hide_on_mobile { display: none; }
.PorductBuySellButtons li { flex: 1 }
.PorductBuySellButtons li a { min-width: 100px; line-height: 40px; font-size: 22px; display: block; text-align: center; margin: 5px; }
.form-check-label { padding: 0; }
#buyercontact_modal .modal-header .close { padding: 1rem 0.5rem; background: #0e533f; }
#buyercontact_modal .modal-title-1 { font-size: 1.1rem; font-weight: 600; padding-right: 15px; }
}
footer { margin-top: 0px; background: #294f56; }
.butonsgrp-mobile { display: none!important; }
/*.home-btn { padding: 6px 25px; font-size: 24px; font-weight: 700; text-align: center; cursor: pointer; outline: none; color: #fff; background: linear-gradient(#dc133d, #b8213a); border: 2px solid #fff; border-radius: 0px; box-shadow: 0 0px #e2b900; }*/
.home-btn { padding: 1rem 1.5rem; font-size: 2rem; font-weight: 700; text-align: center; cursor: pointer; outline: none; color: #fff; background: #e2b900; border: 0.5rem solid #fff; border-radius: 1.5rem; box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.71); text-transform: uppercase; }
.farmer-box:hover,
.market-box:hover { cursor: pointer; }
.home-btn:hover,
.farmer-box:hover .home-btn,
.market-box:hover .home-btn { background-color: #115640; opacity: 0.95; color: #fff }
.home-btn:active { background-color: #115640; opacity: 0.95; box-shadow: 0 5px #666; transform: translateY(4px); }
.overlay-header-title h1.display-4 mark { padding: 6px 20px; display: inline-block; border-radius: 30px; border: 2px solid #e2b801; background: #115641b0; color: #fff; }
.overlay-btns .wrap-inner { margin: auto; }
.overlay-btns .wrap-inner-btns { margin: auto; }
.overlay-btns .wrap-inner-btns a.btn:first-child { width: 14%; }
.overlay-btns .wrap-inner-btns a.btn:last-child { width: 18%; }
.overlay-btns { position: absolute; bottom: 30%; left: 8%; right: 8%; z-index: 9; }
.overlay-header-title { margin-bottom: 30px }
.overlay-header-title h1.display-4 { font-size: 1.5rem!important; font-weight: 600!important; }
#main-menu .nav-link { font-size: 1.0rem; min-height: auto; line-height: initial; }
.menubtn { margin-top: 10px; margin-right: 20px; display: flex; margin-right: 50px; margin-bottom: 10px; }
.menubtn a.nav-link { min-height: 35px !important; line-height: 35px !important; border: 2px solid #dc133d; color: #dc133d; margin-right: 20px; }
#topbar_append { display: none }
.shipper_add { width: 100% !important; }
.consignee_copy { width: 100% !important; }
.ProductNameStyle { font-size: 28px; font-weight: 600; color: #212529; }
.buyer_step3 input[type=checkbox],
input[type=checkbox] { position: relative; cursor: pointer; margin-right: 10px; top: -4px; }
.buyer_step3 input[type=checkbox]:before,
input[type=checkbox]:before { content: ""; display: block; position: absolute; width: 20px; height: 20px; top: 0; left: 0; border: 2px solid #10553f; border-radius: 3px; background-color: white; }
.buyer_step3 input[type=checkbox]:checked:after,
input[type=checkbox]:checked:after { content: ""; display: block; width: 5px; height: 10px; border: solid #10553f; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; top: 3px; left: 8px; }
.buyer_step3 .termsacnchor { color: #10553f; }
.emailicon2 { width: 28px; }
.gregbgcopy { margin-bottom: 0px; }
.ContactPageHeading.ContactPageHeadingFirstt { margin-bottom: 28px; }
.market-box { width: 16%; text-align: center; }
.logo-box { width: 68%; padding: 0px 2%; margin-top: 3%; }
.farmer-box { width: 16%; text-align: center; }
#main-menu .nav-link:hover,
.form-check a { color: #10553f; }
.btn-success { background-color: #10553f; border-color: #10553f; }
.btn-success:hover { background-color: #146f52; border-color: #146f52; }
.btn-outline-success { color: #10553f; border-color: #10553f; }
.btn-outline-success:hover { background-color: #10553f; border-color: #10553f; }
footer ul li a:hover { color: #e2b900 !important; }
footer ul li:hover a { color: rgba(255, 255, 255, 0.6); }
#more_cookies_btn { color: #10553f; cursor: pointer; }
.switch-success .switch-input:checked + .switch-slider { background-color: #10553f; border-color: #0d4231; }
.switch-success .switch-input:checked + .switch-slider::before { border-color: #0d4231; }
.dropdown-item.active,
.dropdown-item:active { background-color: #10553f; color: #fff!important }
.COntactPageWidth .SinglePersonDetails .ProfileDetails li .righttext a { color: #120138; }
.BuyBackBtn { background-color: #0f543f !important; opacity: 1 !important; border: solid 1px #0f543f !important; font-weight: 500; }
.BuyNextBtn { background-color: #0f543f !important; opacity: 1 !important; border: solid 1px #0f543f !important; font-weight: 500; }
#buyercontact_modal .modal-header { background-color: #0e533f; border-radius: 4px; }
#buyercontact_modal .modal-title-1,
#buyerlead_modal .modal-title-1 { color: #ffffff; }
#buyercontact_modal .modal-header .close,
#buyerlead_modal .modal-header .close { color: #ffffff; opacity: 1; }
#buyercontact_modal .modal-content { border: solid 5px #0e523f; border-radius: 10px; }
#sellercontact_modal .modal-header { background-color: #0e533f; border-radius: 4px; }
#sellercontact_modal .modal-title-1 { color: #ffffff; }
#sellercontact_modal .modal-header .close { color: #ffffff; opacity: 1; }
#sellercontact_modal .modal-content { border: solid 5px #0e523f; border-radius: 10px; }
#buyerlead_modal .modal-header { background-color: transparent; border-radius: 0px; border: none; padding: 0px; }
#buyerlead_modal .card { border: none; background-color: transparent; }
#buyerlead_modal .modal-content { background-color: #d6b800; padding: 55px 25px 35px;max-width: 600px; margin: 0px auto; }
#buyerlead_modal .modal-header button.close {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #2b3e2b;
    width: 40px;
    height: 40px;
}
#buyerlead_modal .modal-header button.close span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 100%;
    height: 32px;
    color: #d6b800;
    opacity: 1;
    text-shadow: none;
}
#buyerlead_modal .modal-header h3 { margin: 0px auto; border: dashed 3px #2b3e2b; max-width: 250px; border-radius: 9px; padding: 12px 10px; font-size: 54px; font-weight: 900; font-style: italic; }
#buyerlead_modal .modal-header h3 .TotalDiscount { display: block; line-height: 100%; color: #2b3e2b; font-size: 66px; }
#buyerlead_modal .modal-header h3 .DiscountText { display: block; line-height: 100%; font-size: 60px; }
#buyerlead_modal .card .card-body { padding: 0px; }
#buyerlead_modal .modal-body { padding: 0px; }
#buyerlead_modal .modal-body .EqualBuyerleadForm label { font-size: 25px; font-weight: 700; color: #2b3e2b; margin: 10px 0; }
#buyerlead_modal .card .card-body .EqualBuyerleadForm { width: 100%; max-width: 450px; margin: 25px auto 0px; text-align: center; }
#buyerlead_modal .SubmitBtn { text-align: center; }
#buyerlead_modal .card .card-body .EqualBuyerleadForm .form-group { margin: 0px; }
#buyerlead_modal .SubmitBtn button {
    font-size: 18px;
    padding: 8px 34px;
    font-weight: 500;
}

@media only screen and (max-width: 1335px) {
.overlay-header-title h1.display-4 { font-size: 1.2rem!important; font-weight: 600!important; }
/*.overlay-btns { position: absolute; bottom: 12%; }*/
.overlay-header-title { margin-bottom: 0px }
.home-btn { padding: 1px 20px; }
}

@media only screen and (max-width: 1024px) {
.overlay-header-title h1.display-4 { font-size: 1.0rem!important; font-weight: 600!important; }
.overlay-header-title h1.display-4 mark { padding: 3px 10px 4px 10px; }
.overlay-header-title { margin-bottom: 0px }
.home-btn { font-size: 1.2rem; }
.overlay-btns { bottom: 25%; }
}

@media only screen and (max-width: 780px) {
.overlay-btns a.btn,
.overlay-header-title { display: none }
.logo-box { margin-top: -4%; }
.overlay-btns { top: 22%; bottom: auto; }
.butonsgrp-mobile { display: block!important; }
.home-btn { padding: 6px 20px; font-size: 20px; }
.page-header h1.display-4 { font-weight: 700; }
.page-header .w-100.text-white { padding: 15px 0; }
}

@media only screen and (max-width: 768px) {
nav#topbar { display: none }
#topbar_append { display: block }
.langs-menu .nav-link a.active img,
.langs-menu .nav-link a:hover img { border: 1px solid #333; }
}

@media only screen and (max-width: 480px) {
.PurchaseFoursteps li::after { width: 100px; }
.PurchaseFoursteps li { background: #fff; }
.overlay-btns { top: 17%; bottom: auto; }
#buyercontact_modal .modal-title-1 { font-size: 1.0rem; }
}
